main{
    width: 1200px;
    min-height: 800px;
    margin: auto;

}


/* header */
/*
header{
    height: 200px;
    display: flex; /* flex 형식으로 변경 -> 내부 요소를 유연하게 정렬/배치 
}

header > section:nth-of-type(1){
    flex-basis : 20%;
}
header > section:nth-of-type(2){
    flex-basis : 60%;
}
header > section:nth-of-type(3){
    flex-basis : 20%;
}


/* 로고 
header > section:nth-of-type(1){
    display : flex;
    justify-content: center;
    align-items : center;
}
*/

#home-logo{
    width: 120px;
    height: auto;
    /* 이미지는 width/height 둘 중 하나만 지정 시 
    나머지 방향의 크기가 같은 비율로 지정됨 */
}


/* 검색 스타일 */
header > section:nth-of-type(2){
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

.search-area{ 
    width : 400px;
    height: 50px;
    
  }

.search-area fieldset{
    padding: 2px;
    margin : 0;
    border : 2px solid #455ba8;
    border-radius: 5px;
    
    display: flex;
}



#search-btn{
    width: 5%;
    cursor: pointer;
    font-size : 1.2em;
    color : #455ba8;
    background-color: white;
    border : 0;
}

#query{
    font-weight: bold;
    width: 350px;

}



/* ---------------------------------------------------- */
/* 사이드바 메뉴 */

.menu ::before{
    font-family: 'Material Icons';
    font-size: 1.5em;
    float: left;
    clear: left;
}
.menu label::before{ content: '\e5d2'; }
.menu li:nth-child(1) a::before{ content: '\f02e'; }
.menu li:nth-child(2) a::before{ content: '\e853'; }
.menu li:nth-child(3) a::before{ content: '\e7ef'; }
.menu li:nth-child(4) a::before{ content: '\e873'; }
.menu li:nth-child(5) a::before{ content: '\e645'; }
.menu li:nth-child(6) a::before{ content: '\e3c9'; }
.menu li:nth-child(7) a::before{ content: '\e7f0'; }

#expand-menu { 
    display: none;
}
#expand-menu:checked ~ ul { /* 체크박스 체크되었으면 메뉴 목록 표시 - 반응형 표시용 */
    display: block;
    height: auto;
}

.menu {
    display: block;
    width: 200px;
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden; 
    transition: all 0.5s ease; 
    position: absolute;
    margin-left: 75px;
    margin-top: 20px;
    
}
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu a, .menu > label {
    display: block;
    height: 25px;
    padding: 8px;
    cursor: pointer;
    color: #000;
    text-decoration: none;
}

.menu a:hover {
    color: #fff;
}
.menu ul li:hover, .menu > label:hover {
    background-color: #455ba8;
    color: #fff;
    border-radius: 10px;
}
.menu div {
    line-height: 1.5;
    font-size: 1em;
    font-family: 'Noto Sans KR';
    padding: 0 0 0 50px; /* 아이콘과 텍스트 사이 여백 */
}

@media screen and (max-width:1023px) {
    .menu { /* 1단계 */
        width: 60px;
    }
}
@media screen and (max-width:560px) {
    .menu #expand-menu:not(:checked) ~ ul { /* 2단계 */
        display: none;
    }
}

.menu div {
    position: absolute; /* 절대 위치로 텍스트 고정 */
    left: 50px;
    line-height: 1.5;
    font-size: 1em;
    font-family: 'Noto Sans KR';
    padding: 0 0 0 20px; /* 패딩 20p로 축소 */
}














/* ----------------------------------------------------------------------------------------- */


#FAQ-container{
   display: inline-block;
   border: 2px solid black;
   width: 740px;
   margin-left: 340px;
   
}

#FAQ-main{
    padding: 20px;
}

#FAQ-middle{
    border: 1px solid #ccc;
    margin-top: 30px;
}



#select-area{
    border: 1px solid black;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;



}




#FAQ-header{
    height: 50px;
    font-size: 17px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 23px;
    border-bottom: 1px solid #ccc;
    background-color: #ddd;

}

/* ----------------------------------- */

.FAQ{
    list-style: none;
    border: 1px solid #ccc;
    padding: 0 10px;
}

.FAQ > li{
    padding: 20px 0;
    box-sizing: border-box;

}

.FAQ > li:nth-child(n+2){
    border-top: 1px solid #ccc;
}

.FAQ input{
    display: none;
}

.FAQ label{
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.FAQ label::before{
    display: block;
    content: "";
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-left: 8px solid #455ba8;
    margin: 2px 0 0 8px;
    float: left;
}

.FAQ input:checked + label::before {
    border: 8px solid transparent;
    border-top: 8px solid #455ba8;
    border-bottom: 0;
    margin: 8px 4px 0;
    
}

.FAQ div{
    display: none;
    color: #666;
    font-size: 0.9375em;
    overflow: hidden;
    padding: 10px 0 10px 30px;
    box-sizing: border-box;
    
}

.FAQ input:checked + label + div{
    display: block;
}

.selectBtn{
    width: 180px;
    height: 60px;
    margin: 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}















