/* 헤더/푸터 */

*{box-sizing: border-box;}

body{margin: 0;}

main{
    width: 1200px;
    margin: auto;
}

/* header */
header{
    height: 200px;
    display: flex;
    border-bottom: 1px solid #ccc;
}

header>section:nth-child(1){flex-basis: 20%;}
header>section:nth-child(2){flex-basis: 60%;}
header>section:nth-child(3){flex-basis: 20%;}

/* 로고자리 */
header > section:nth-of-type(1){
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 로고 */
#home-logo{
    width: 140px;
    height: auto;
}

/* 중앙부분 */
header>section:nth-of-type(2){
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-title{
    width: 500px;
    padding: 2px;
    /* border: 2px solid rgb(14, 25, 78);
    border-radius: 5px; */

    display: flex;

    font-size: 3em;
    font-weight: bold;

}
/* 
#query{
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border: none;

    /* input 태그에 포커스가 맞춰 졌을때 이를 표현하기위한 바깥선(테두리보다 바깥에 존재) 
    outline: 0;

    width: 92%;
} */

/* 헤더 우측 */
.right-header{
    display: flex;
    align-items: center;
}

/* 헤더 우측 알림 버튼 */
.right-header button{
    height: 50px;
    background-color: white;
    color: rgb(14, 25, 78);
    font-size: 40px;
    border: none;
    cursor: pointer;
}




/* footer */
footer{
    height: 200px;
    background-color: #acadd342;
    display: flex;
    flex-direction: column; /*중심축 세로로 바꾸기*/
    justify-content: center; /*중심축 중앙으로 보내기*/
    align-items: center; /*교차축 중앙으로 보내기*/
     
}

#footer{
    font-weight: bold;
    font: 20px;
    padding-bottom: 20px;
}

/* footer 스타일 */
footer a{
    text-decoration: none;
    color: black;
}
