* { box-sizing: border-box;}
body{ margin: 0;}

/* 마이페이지 영역 */
.myPage-content{ 
    /* 공통 class */
    width: 1200px;
    height: auto;

    display: flex;
}

/* 마이페이지 왼쪽 사이드 메뉴 */
.myPage-leftSide{
    width: 20%;
    border-right: 2px solid #b4b4b4;
}

.myPage-list{
    width: 100%;
    padding: 0 20px 0 0;
    margin-left: 40px;
}

.myPage-list > li:first-child{
    list-style: none;
    height: 70px;
    font-size: 27px;
    font-weight: bolder;
    margin: 30px 0;
}

.myPage-list > li{
    list-style: none;
    height: 30px;
    font-size: 17px;
    font-weight: 600;
    margin: 15px 0;
}

.myPage-list a{
    text-decoration: none;
    color: black;
    height: 100%;
    width: 65%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.myPage-list a:hover{
    cursor: pointer;
    background-color: #142578;
    color: white;
}


/* 마이페이지 메인 */
.myPage-main{
    /* 공통 class */
    width: 80%;
    margin: 40px 15px;
}

.myPage-listName{
    /* 공통 class */
    /* 페이지 제목 */
    font-size: 30px;
    margin-left: 100px;
}

.myInfo{
    /* 공통 class */
    margin-left: 100px;
}

.myPage-row{
    padding: 5px 0;
}

#memberName{
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    text-decoration: underline;
}

.myPage-row:nth-child(3){
    border-bottom: 1.5px solid #b4b4b4;
    margin: 10px 0;
}

/* 회원정보 수정 */
.update-row{
    margin: 30px 0;
}

.update-row label{
    font-size: 17px;
    font-weight: bold;
}

.update-row input{
    width: 350px;
    height: 35px;
    
    font-size: 15px;

    border: none;
    border-bottom: 1px solid #b4b4b4;

    padding-left: 5px;

    margin-top: 5px;

    outline: none;

}

#myInfo-update-btn{
    width: 200px;
    height: 40px;
    
    background-color: #142578;
    color: white;

    border: 0;
    border-radius: 5px;

    font-size: 17px;
    font-weight: bold;

    margin-top: 40px;

    cursor: pointer;
}