* { box-sizing: border-box;}
body{ 
    margin: 0;
}

/* 임시 Header */
header{
    height: 200px;
    display: flex; /* flex 형식으로 변경 -> 내부 요소를 유연하게 정렬/배치 */
    justify-content: left;
    align-items: center;
    border-bottom: 2px solid #b4b4b4;
}

#logo{ /* 임시 */
    width: 150px;
    height: 150px;

    margin: 0 180px;
}

header > span{
    font-size: 80px;
    font-weight: bold;
    text-align: center;

    color: #0e194e;
}



/* 마이페이지 영역 */
.myPage-content{ 
    /* 공통 class */
    width: auto;
    height: auto;

    display: flex;
}


/* 마이페이지 섹션 */
.myPage-sideMenu{
    width: 25%;

    display: flex;
    justify-content: right;
    align-items: top;

    padding-top: 40px;

    /* border-right: 2px solid #b4b4b4; */
}

.myPage-main{
    width: 100%;

    display: flex;
    justify-content: left;
    align-items: center;
}


/* 마이페이지 사이드 메뉴 */
/* 리스트 */
#sideMenu-list{
    width: 60%;
}

/* 페이지 제목 */
.myPage-sideMenu h2{
    font-size: 1.7em;
    font-weight: bolder;

    margin: 50px 0;
}


/* 메뉴 이름 */
.sideMenu-list-row{
    width: 100%;
    height: 40px;

    padding-bottom: 0;
    margin: 10px 0;
}

.sideMenu-list-row:nth-child(2){
    margin-top: 50px;
}

.myPage-sideMenu a{
    text-decoration: none;
    color: #0e194e;
    height: 100%;

    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sideMenu-list-row > a{
    font-size: 1.2em;
}

/* 마우스 효과 */
.sideMenu-list-row:hover{
    border-bottom: 2px solid #0e194e;
}



/* 마이페이지 메인 */

#myPage-detail{
    margin-top: 50px;
    margin-left: 180px;
}

/* 페이지 제목 */
#myPage-title{
    font-size: 2em;
}

/* 행 */
.myPage-detail-row{
    margin: 20px 0;
}

/* 행 이름 */
.myPage-detail-row > div{
    font-size: 1.1em;
    font-weight: bold;

    padding: 5px 0;

    color: #504d4d;

}

/* input */
.myPage-detail-input{
    width: 380px;
    height: 40px;

    font-size: 17px;

    margin: 8px 0;

    border: 0;
    border-bottom: 1px solid #b4b4b4;
    outline: 0;
}

.myPage-detail-input:focus-within{
    border-bottom: 2px solid #0e194e;
}

/* 아이디 */
#memberEmail{
    font-size: 25px;
    font-weight: bold;
    padding: 20px 0 10px;
}

/* 버튼 */
#modify{
    width: 380px;
    height: 40px;

    margin: 35px 0;

    font-weight: bold;
    font-size: 1.1em;

    border: none;
    border-radius: 5px;

    background-color: #0e194e;
    color: white;

    cursor: pointer;
}
