main{
    width: 1400px;
    margin: auto;
}


/* header */
header{
    height: 200px;
    display: flex; /* flex 형식으로 변경 -> 내부 요소를 유연하게 정렬/배치 */
}

header > section:nth-of-type(1){
    flex-basis : 20%;
}
header > section:nth-of-type(2){
    flex-basis : 60%;
}
header > section:nth-of-type(3){
    flex-basis : 20%;
}


/* 로고 */
header > section:nth-of-type(1){
    display : flex;
    justify-content: center;
    align-items : center;
}


#home-logo{
    width: 120px;
    height: auto;
    /* 이미지는 width/height 둘 중 하나만 지정 시 
    나머지 방향의 크기가 같은 비율로 지정됨 */
}


/* 검색 스타일 */
header > section:nth-of-type(2){
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

.search-area{ 
    width : 400px;
    height: 50px;
    
  }

.search-area fieldset{
    padding: 2px;
    margin : 0;
    border : 2px solid #455ba8;
    border-radius: 5px;
    
    display: flex;
}



#search-btn{
    width: 5%;
    cursor: pointer;
    font-size : 1.2em;
    color : #455ba8;
    background-color: white;
    border : 0;
}

#query{
    font-weight: bold;
    width: 350px;

}

/* ------------------------------ main 코드 -------------------------------------- */


#infor-main{
    display: block;
    border: 2px solid black;
    width: 700px;
    margin-left: 330px;


}

#infor-first{
    background-color: rgb(199, 196, 196);
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
    margin-bottom: 0;


}

#start-day{
    background-color: rgb(199, 196, 196);
    font-size: 15px;
    padding: 0 0 10px 20px;

    
}


.infor-header{
    border: 1px solid black; 
    font-size: 22px;
    font-weight: 700;
    padding: 10px 20px;
}

.infor-text{
    font-size: 18px;
    padding: 20px 20px;

}
