*{
    box-sizing: border-box;
    font-family: 'Hahmlet', serif;
    letter-spacing: 0.8px;
}


/* 마이페이지 영역 */

.classPage-content{
    width: 1000px;
    height: 800px;
    margin: 20px auto;
    display: flex; 
    
    
    flex-direction: column;
    
}

/* 사이드 메뉴 */

.classPage-inside{
    display: flex;
    justify-content: space-between;
    margin: 20px auto;

}

.classPage-left{
    width: 400px;
    height: 600px;
    font-size: 20px;
    border: solid 2px black;
    margin: 20px;
    margin-left: 90px;
    margin-top: 0;

}



.left-text{
    margin: 40px 10px 20px 30px;
    font-weight: bold;
    

}



#projectName{
    display: flex;
    width: 230px;
    height: 40px;
    outline: none;
    justify-content: center;
    font-size: 15px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-left: 30px;
    
}

#projectIntro{
    width: 300px;
    height: 130px;
}


div[class="page-left"]{
    margin: 0 0 0 30px;
    font-size: 20px;
    
}

select[name="classCategory"]{
    width: 128px;
    height: 40px;
    
}



.classPage-right{
    width: 400px;
    height: 600px;
    border: solid 2px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-right: 40px;
    margin-top: 0;
    
}

.classPage-right label{
    font-size: 24px;
    font-weight: bold;

    
}

p#select-text{
    margin-top: 6px;
    margin-left: 30px;

}

.select-text{
    margin-bottom: 40px;
}

#createBtn{
    width: 80px;
    height: 30px;
   
    float: right;
    margin-left: 20px;
    margin-top: 90px;
    cursor: pointer;

    font-size: 16px;
    background-color: white;
    border: 1px solid black;
}

#createBtn:hover{

    background-color: #455ba8;
    color: white;
}






#projectQuota{
    width: 120px;
    height: 40px;
}


/* ------------------------ */

.page-left3{
    display: flex;
    flex-direction: row;
    
}

select{
    margin-left: 30px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

div[class=category] .left-text{
    margin-left: 40px;
    
}

div[class="quota"]{
    margin-left: 60px;
}

div[class="quota"] .left-text{
    margin-left: 10px;

}

input[type="number"]{
    padding: 0;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

.classPage-right :nth-child(1){
    margin-top: 50px;
}

.page-left1{
    display: flex;
    flex-direction: row;
    
}

#name-double-check{
    width: 70px;
    height: 38px;
    margin-top: 7px;
    margin-left: 15px;

    cursor: pointer;

    font-size: 12px;
    background-color: white;
    border: 1px solid black;
}

#name-double-check:hover{

    background-color: #455ba8;
    color: white;
}






